PORT=3010

DB_HOST=localhost
DB_PORT=5432
DB_NAME=auth_db
DB_USER=
DB_PASS=

JWT_SECRET=
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3010/auth/google/callback

FRONTEND_URL=http://localhost:5173